@media (max-width:1024px) {
    .firstSec {
        height: 85vh;
    }
    form h1,.secondDiv {
        font-size: 13px;
    }
    p {
        font-size: 12px;
    }
    /* chamei no javascript */
    .passwordWeak {
        background-color: rgb(243, 9, 9);
        width: 32%;
    }
    .passwordMedium {
        background-color: rgb(255, 174, 0);
        width: 62%;
    }
    .passwordStrong {
        background-color: rgb(6, 238, 33);
        width: 98.5%;
    }
    /* fim */
    form input {
        padding-top: 8px;
    }
    .nameLabel,.passwordLabel {
        top: -7.2vh;
        left: -6vw;
        font-size: 8.5px;
    }
    .passwordLabel {
        left: -8.5vw;
    }
    .secondDiv {
        width: 15vw;
        height: 5vh;
    } 
    .otherLink,.anotherLink {
        top:21vh;
        height: 3.5vh;
        font-size: 11px;
    }
    .anotherLink{
        padding-top: 2px;
    }

}
@media (max-width:600px){
    body{
       
    }
}