*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
figure{
    display: flex;
    align-items: center;
    width: 40vw;
    height: 80vh;
}
img{
    height: 60vh;
}